/*!CK:1672702698!*//*1394272906,178179377*/

.sp_5ozkxx{background-image:url(/rsrc.php/v2/yN/r/XykjRfMvWey.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}
.sx_561348{width:16px;height:16px;background-position:0 -105px}
.sx_435c1a{background-position:0 0}
.sx_a965e2{background-position:0 -35px}
.sx_1fceaa{background-position:0 -70px}

#bootloader__xyjk { height: 42px; }
.bootloader__xyjk { display:block !important; }