/*!CK:995765088!*//*1393816702,178127443*/

._5k7d{margin-left:3px;position:relative;top:1px}
html ._2wp{margin:-10px -25px 0 0;padding:7px 0 3px}
._2wp ._2yg{background:#fff;position:absolute;width:427px}
html ._2wp ._2_3 ._2wr{background-image:url(/rsrc.php/v2/y2/r/k8z0py7VTRC.png);background-repeat:no-repeat;background-size:auto;background-position:-312px -152px;height:9px;left:7px;top:27px;width:16px}
._2wp._2wq ._2-s{display:none}
._2wp._2wq{width:300px}
._2wp.uiComposerOpen{width:427px}
._2wq.uiComposerOpen{width:300px}
._2wp.uiComposerOpen ul.fbTimelineComposerAttachments{padding-left:0;float:right}
div._2wp.fbTimelineComposer .attachmentLoader{left:-15px;right:auto}
._2wp ._2yg, ._2wp .uiComposerMetaContainer{border:1px solid #8c8c8c;border-bottom:1px solid #666;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .3);left:2px;margin-top:1px}
._2wp .attachmentLifeEvents .typesMenuSelected{margin-right:-48px}
._2wq .attachmentLink .attachmentName, .fbTimelineStickyHeaderHidden .fbTimelineStickyHeaderComposer{display:none}
._6r5{display:inline-block;line-height:22px;width:300px}
html ._6r5, html ._6r5 .wrap{border-color:#adb3bc}
._4kmj .uiSelector{border:1px solid transparent}
._4kmj{position:relative}
._6r5 .wrap{padding-left:20px}
._4iab{background-image:url(/rsrc.php/v2/y_/r/C_fMmI2LKHS.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -5px;height:19px;left:1px;position:absolute;top:2px;width:22px;z-index:2}
._4sj0 ._6r5{line-height:20px;margin-bottom:3px;width:297px}
._4sj0 ._4-k6{width:256px}
._4sj0 .uiSelector{border:0}
._6r5.typeaheadLoading{background:#fff url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 275px 5px}
html ._5cf{display:inline-block;height:10px;padding:4px;vertical-align:middle;width:10px}
._4__6{margin-right:6px;position:relative}
._5cf, ._513e{visibility:hidden}
.highContrast ._5cf, .highContrast ._513e{visibility:visible}
._5cg{display:block;height:10px;width:10px}
._4__6._4__4 ._513e, .openToggler ._5cf, .fbTimelineUnit:hover ._5cf, ._4__6._4__4{visibility:visible}
._513e{bottom:-9px;left:2px;position:absolute}
._4__8{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-25px -344px}
._4__6:hover ._4__8{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-15px -344px}
._4__6._4__4 ._4__8{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -328px}
._4__7{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -306px}
.openToggler > ._5cf ._4__7, ._5cf:hover ._4__7{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -317px}
.uiPopover ._5cf:hover, .openToggler > ._5cf{background:#3b5998}
._5itk{margin-bottom:12px}
._5itk ._5r4d{width:253px}
._5kd3{background-color:#f6f7f8;border:1px solid #e9eaed;border-bottom:none;color:#4e5665}
._5vpo{margin-bottom:8px}
._5kd3 ._5ufe, ._5kd3 ._5uff{border:1px solid #e1e5ef}
._5vsx ._5vt0{visibility:hidden}
html ._5izg{border-bottom:1px solid #e9eaed;display:block;padding:8px 12px}
html ._5izh._5e4h, html ._5izh ._5e4k{border:none;-webkit-border-radius:4px;height:8px}
html ._5izh._5e4h{background-color:#e9eaed;margin-top:4px}
html ._5izh ._5e4k{background-color:#5890ff}
._5hzi{border-bottom:1px solid #dfdfdf;display:block;padding:12px;position:relative}
._5hzi:last-child{border-bottom:none}
._5itf, ._5itg, ._5ith{display:block}
._5iti, ._5r4d{display:inline-block;vertical-align:middle}
._5ki7 ._5iti, ._5ki7 ._5r4d{vertical-align:top}
._5iti, ._5iti:after{height:32px;width:32px}
._5iti{margin-right:12px;position:relative}
._5iti:after{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-15px -251px;content:'';left:0;position:absolute;top:0}
._5r4d{width:229px}
._5itg{color:#6a7180}
._5itf ._5ith{color:#adb2bb;font-size:11px;line-height:15px}
._5r4j{padding:0 8px 0 1px}
._5r4k{line-height:13px}
._5r4l{background-color:#e9eaed;-webkit-box-sizing:border-box;display:inline-block;padding:3px}
._5itl{position:relative}
._5itl:hover, ._5itl:focus{background-color:#f6f7f8;outline:0}
._5qab{margin-top:-5px;position:absolute;right:8px;top:50%}
._5itm{margin-top:-3px}
.async_saving ._5itm{display:none}
._5m6x{padding-bottom:8px;padding-top:8px}
._5m6x:hover{background-color:#f6f7f8}
._5m6y, ._5m6z{display:inline-block;vertical-align:middle}
._5m6y{margin:0 18px 0 6px}
._5m6w{margin-top:-1px;overflow:hidden}

#bootloader_V2tpr { height: 42px; }
.bootloader_V2tpr { display:block !important; }