/*!CK:394185627!*//*1393816655,178191169*/

._z3i{height:42px;line-height:14px;overflow:hidden;white-space:pre-wrap}
._z3h .uiUfi{margin-top:3px}
html ._1mbd{border-top:none;position:relative}
._1mbe{margin-top:2px;position:absolute;right:0;top:0}
._5qt1 ._z3h{display:inline-table;margin-bottom:0;padding:3px 4px 4px 3px}
._5qt1 ._z3h{width:403px}
._5r68 ._z3h{width:382px}
._5qt1 ._z3h .uiUfi{width:100%}
._2t8p .note .uiUfi{width:301px}

#bootloader_XB25r { height: 42px; }
.bootloader_XB25r { display:block !important; }