/*!CK:4114370950!*//*1393816560,178183447*/

._1-j{padding:2px;border:1px solid #b3b3b3;-webkit-border-radius:3px}
._58g_ ._1-j{border:none;padding:0}
._1-k{width:104px;height:104px}
._1-l{margin-left:122px}
._58g_ ._59fn{height:29px;margin:2px 0 10px;width:370px}
._58g_ ._59fo{line-height:18px}
._24-{margin-top:9px}
._58g_ ._24-{margin-top:11px}
._252{overflow:hidden;float:left;width:234px;height:32px}
._24_{background-image:url(/rsrc.php/v2/yd/r/cOUbTOfA3ug.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;position:absolute;width:234px;height:32px}
._5821 ._1-o{margin-right:1px}
._1-o:hover img{cursor:default}
._1-q{float:right;margin-top:3px}
._58g_ ._1-q{margin-top:5px}
._58g_ ._59fp{padding:16px}
._4_37{margin-left:205px}
._4kdq ._4_37, ._5ap2 ._4_37, ._5bci ._4_37{margin-left:56px}
.sidebarMode ._5bci ._4_37, .sidebarMode ._5ap2 ._4_37{margin-right:205px}
._4kdq ._5ap2 ._4_37{margin-right:0}
._4_l-{z-index:300}
._58g_ .megaphone_story_wrapper{margin-bottom:9px;margin-top:3px}
._58g_ .megaphone_box{background-color:#fff;border:1px solid #d4d5d8;border-left-color:#d3d5db;-webkit-border-radius:3px;border-right-color:#d3d5db;padding:12px}
._58g_ .megaphone_story .title, ._58g_ .megaphone_story .megaphone_title{color:#141823;font-size:14px;font-weight:bold;line-height:14px;margin-bottom:2px}
._58g_ .megaphone_story .megaphone_content{color:#141823;font-size:12px;line-height:16px;max-width:494px}
._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:370px}
._58g_ .megaphone_action{margin-top:13px}
._580k{margin:4px 0 4px 4px}
._580k .img{margin-right:16px}
._58g_ .megaphone_hide_link{margin-right:2px;margin-top:2px}
._5848.megaphone_story_wrapper{margin-bottom:6px;margin-left:auto;margin-right:auto;width:924px}
._58g_ textarea, ._58g_ .inputtext, ._58g_ .inputpassword{border:1px solid #d3d6db}
._6nw ._58g_._5848 .megaphone_box{border:none;-webkit-border-radius:none;padding:13px 0 17px 0;width:924px}
._5847{background-color:#fff;border-bottom:1px solid #c3c4c6;left:0;position:absolute;width:100%}
._5848 .megaphone_story .title, ._5848 .megaphone_story .megaphone_title{font-size:18px}
._5848._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:100%}
._5848._58g_ .megaphone_story .megaphone_content{color:#6a7180;line-height:18px;margin-top:2px;max-width:100%}
.megaphone_story_wrapper{margin-bottom:20px}
.dialog_content .megaphone_story_wrapper{margin-bottom:0}
.megaphone_story{position:relative;overflow:hidden}
.megaphone_story .megaphone_content{font-size:11px}
.megaphone_story .megaphone_hide_link{float:right}
.megaphone_story_highlighted{background-color:#fcf5d0;border:1px solid #cbb631}
.megaphone_box{background-color:#f6f7f8;border:1px dashed #ced5e5}
.hasLeftCol .megaphone_box{border-width:0 0 1px 0;margin-left:-20px;margin-top:-15px}
#headerArea .megaphone_box{margin-right:-20px;margin-top:-17px}
#headerArea .megaphone_location_new_group_profile .megaphone_box{margin:0 0 2px 0}
.megaphone_location_new_group_profile .megaphone_action{margin-top:2px}
#megaphone_story_1622{margin-bottom:0}
.megaphone_location_friends{margin:0}
.megaphone_location_privacy{margin-left:auto;margin-right:auto;width:760px}
.timelineLayout .megaphone_location_managed_profile_admin .megaphone_box{border-top:1px dashed #ced5e5}
._45kp{display:block}
._47ol{color:#4d66ae}
._47om{display:inline-block;vertical-align:bottom}
._4-k8{vertical-align:top}
._4-i9{width:280px}
._5m4l{width:272px}
._51l2 .nullableDisabledText, ._51l2 .uiClearableTypeahead{width:256px}
._51l2 .nullableTextField{width:249px}
._4-ye{width:95%}
._4-yf{margin-top:10px}
._4-yg{margin-left:57px;width:402px}
._50pg{width:270px}
._5b2_{word-wrap:break-word}
._iw1 .uiList{margin-top:5px}
._iw2{width:220px}
._iw3{background:#f2f2f2;border-bottom:1px solid #e2e2e2;border-top:1px solid #e2e2e2;padding:10px}
._58g_ ._529t .megaphone_story .megaphone_content{max-width:none}
._529t .megaphone_box{padding-bottom:5px;padding-top:10px}
._529t .megaphone_story{overflow:visible}
.homeWiderContent ._424- .megaphone_box{margin-left:0}
.homeWiderContent ._4-e4 .megaphone_box{background:#f1f3f8 url(/rsrc.php/v1/yr/r/WEybYOeHmqB.jpg) no-repeat center top;height:180px}
._529u{background-color:rgba(245,247,250, .5);left:-20px;min-height:100%;min-width:100%;position:absolute;right:-20px;top:0;z-index:400}
._413k{width:392px}
._4_b5 ._413k{width:650px}
._4-e5{width:50%}
._4-e6{width:60%}
._4_gf{display:inline-block;width:240px}
._4_mi{display:table-cell}
._4_b5 ._4_gf{width:500px}
._427p .uiProgressiveDatepicker{display:inline}
._427p .toText{margin:0 5px 0 10px}
._427q{margin-top:3px}
._4isv ._4isw{display:none}
._4isx{width:45%}
._4isy{width:52%}
._55om{color:rgba(128, 128, 128, .5)}
._53cn{position:relative}
._51hu{display:block}
._51hv{border-top:1px solid #e1e5ef;margin:0 -20px 0 -20px;padding:7px 16px 7px 20px}
._58g_ ._51hv{margin:0 -12px}
._51hv._52ex, ._51hv._53co{cursor:pointer;padding-top:9px}
._55ab ._52ex, ._55ab ._53co, ._55ab ._529r{border-bottom:1px solid #e1e5ef}
._58g_ ._51hv._51hw, ._58g_ ._51hu:hover ._51hv{background:#f2f5f5}
._51hv._51hw, ._51hu:hover ._51hv{background:#e6ebf1}
._51w4 ._51hx, ._51hu:hover ._51hy{display:none}
._51hu:hover ._51hx{display:inline-block}
._529q{left:50%;margin-left:-8px;margin-top:-8px;position:absolute;top:50%;z-index:666}
._529q.async_saving{display:inline-block}
._51hz{vertical-align:middle}
._55ac{padding:7px 0 2px}
._55ac ._55si{margin-left:-5px}
._55ac ._5xuw{margin-top:3px}
._51h-, ._53co ._51h-{width:295px}
._58g_ ._51h-, ._58g_ ._53co ._51h-{width:335px}
._529r ._51h-{margin-top:4px}
._5x3h{margin-top:6px;position:absolute}
._51k_{max-width:240px}
._58g_ ._51k_{max-width:260px}
._51h_{display:inline-block;width:236px}
._52ex ._51h-{width:390px}
._52ex ._51h_{width:350px}
._58g_ ._52ex ._51h-{width:410px}
._58g_ ._52ex ._51h_{width:370px}
._58g_ ._51hv ._59nm{min-width:230px}
._51ks{margin-top:7px}
._529s{margin-top:3px}
._521i{margin-top:3px}
._51uv{background:#d8dfea;margin:-8px -20px 10px;padding:7px 20px}
._53_f{width:460px}
._51uv a, ._51uv .fsm{font-size:10px}
._51uv .fsl, ._53fi a, ._53fi .fsl, ._51k_ .fsl{font-size:12px}
._521j{margin-top:2px}
._53fj{text-transform:uppercase}
._53fk{margin-top:4px}
._55bk{margin-top:3px;width:300px}
._58g_ ._55bk{width:330px}
._55sj{margin-top:2px}
._5rv6 ._5lwc{background:#5890ff}
._10v{border-color:#e9e9e9}
._10w, ._10x ._10y{display:none}
._10x ._10w{display:block}
._kqq ._10y:hover{background:#f7f7f7}
._220{float:left;padding:12px 0;width:730px}
._kqq ._220{width:560px}
._10z:hover{text-decoration:none}
._10z:hover ._10-{text-decoration:underline}
._10z:hover ._10- .img{visibility:visible}
._10z ._10- .img, ._10z.async_saving ._10- .img{visibility:hidden}
._10_{color:#000;float:left;margin-right:10px;width:200px}
._kqq ._10_{margin-right:0;width:280px}
._nlj, ._kqq ._221{float:left;width:150px}
._nlk ._221{float:right;margin-right:10px}
._10-{float:right;padding-left:25px}
._10y .async_saving ._10-{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 0 1px}
._111{float:right;margin:14px 5px 0}
._kqz{padding-bottom:2px}
._kqv{margin:0 auto 40px;width:760px}
._kqq{border-top:1px solid #cbcbcb}
.fbSettingsEditor{position:relative}
.fbSettingsEditorLabel{left:0;position:absolute;width:155px}
.show_label .fbSettingsEditorFields{margin-left:180px}
.fbSettingsEditorFields .saveThrobber,
.fbNotifSettingsEditorFields .saveThrobber{vertical-align:middle}
.fbSettingsEditorFields{width:400px}
.fbSettingsEditorFields .label,
.fbNotifSettingsEditorFields .label{min-width:100px}
.wide_editor .fbSettingsEditorFields,
.wide_editor .fbNotifSettingsEditorFields{width:550px}
.fbSettingsEditorFields .extended_field,
.fbNotifSettingsEditorFields .extended_field{margin-right:-140px}
.fbSettingsEditorFields .spacer hr,
.fbNotifSettingsEditorFields .spacer hr{background-color:#ccc}
.fbSettingsError div{margin-left:159px}
.fbSettingsErrorLabel{color:#c66}
.fbNotifSettingsEditorLabel{left:0;position:absolute;width:165px}
.show_label .fbNotifSettingsEditorFields{margin-left:180px}
.fbNotifSettingsEditorFields{width:325px}
._6cw{border-bottom:1px solid #aaa}
._6cx{border-top:1px solid #aaa}
._x7m .megaphone_location_privacy{width:auto}
._x7m .megaphone_title{font-size:13px}
._x7m .megaphone_story .megaphone_content{color:gray}
._x7m .megaphone_action{margin-top:10px}
._cue{background-color:#f2f2f2;position:relative}
._cuf{font-weight:bold;left:0;position:absolute;width:165px}
._cug{padding-left:10px;width:440px}
._fuh ._cug{margin-left:175px;padding-left:5px;width:445px}
._cuh{display:block;padding:10px;position:absolute;right:0;top:0}
._cui{display:block}
._nll{float:left;width:275px}
._nlm{margin-left:295px}
.fbSettingsList a.fbSettingsListLink{background:transparent;display:block;text-decoration:none}
.fbSettingsList a.fbSettingsListLink:hover{background:#f7f7f7;text-decoration:none}
.fbSettingsList .fbSettingsListItemLabel{color:#333;float:left;font-size:11px;width:165px}
.fbSettingsList .fbSettingsListItemEdited{background-color:#fff8bb}
.fbSettingsList .fbSettingsListItemContent{display:block;padding-left:5px;width:440px}
.fbSettingsListItemLabeled .fbSettingsListItemContent{margin-left:175px;padding-left:0;width:445px}
.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit{color:#3b5998;float:right;padding-left:25px;padding-right:5px;text-align:right}
.fbSettingsList .fbSettingsListItemSaved{color:#777}
.fbSettingsList a:hover .fbSettingsListItemEdit{text-decoration:underline}
.fbSettingsList a:hover .fbSettingsListItemEdit .img{visibility:visible}
.fbSettingsList .fbSettingsListItemEdit .img, .fbSettingsList a.async_saving .fbSettingsListItemEdit .img{visibility:hidden}
.fbSettingsList a.async_saving .fbSettingsListItemEdit{background-image:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-size:auto;background-position:left 2px}
.fbSettingsList .content{display:none}
.fbSettingsList .fbSettingsListItemDelete{float:right;margin:12px 8px 0}
.fbSettingsList .SbxIframe iframe{vertical-align:top}
.fbSettingsMobileRegisterForm{width:275px}
.fbSettingsNotifs span.fbSettingsListItemLabel{width:300px}
.fbNotifSettingsPanelList span.fbSettingsListItemLabel{width:240px}
.fbSettingsNotifCount{display:inline-block;margin-right:10px;width:35px}
.fbSettingsNotifEditor .fbSettingsEditorFields{width:100%}
.fbSettingsNotifTable{border-spacing:0;width:100%}
.fbSettingsNotifTable.notifsList{margin-bottom:10px}
.fbSettingsNotifTable th,
.fbSettingsNotifTable tbody td{border-bottom:1px solid #e0e0e0;padding:5px 0}
.fbSettingsNotifTable .hide_borders td{border:0;line-height:20px}
.fbSettingsNotifTable th{padding-top:8px}
.fbSettingsNotifTable th .uiTooltip{display:block}
.fbSettingsNotifTable .email,
.fbSettingsNotifTable .sms{text-align:center;width:40px}
.fbSettingsNotifTable .notif{text-align:left;width:150px}
.fbSettingsNotifTable .fixedLengthLabel{width:82%}
.fbSettingsNotifTable .right-align{text-align:right}
.fbSettingsNotifTitle{color:#333;margin-left:-22px}
#show_more_link_label{margin-left:32px}
.fbSettingsNotifTable tbody td.bizNotificationsDivider{border-bottom:none;font-weight:bold;left:-170px;padding-top:40px;position:relative}
._3d{width:125px}
._3e{width:118px}
._3f{width:80px}
._3h{width:90px}
._3g{width:70px}
._9d{width:80px}
._3i{color:red}
._9e{width:77px;text-align:right}
._9f{width:67px;text-align:right}
.fbSettingsRemovablesSet{vertical-align:bottom}
.fbSettingsRemovablesRemove span{color:#3b5998;cursor:pointer;font-weight:normal}
.fbSettingsRemovablesRemove:hover{text-decoration:underline}
.fbSettingsRemovablesRemove input{display:none}
html.no_js .fbSettingsRemovablesRemove input{display:inline}
.fbSettingsRemovablesRemoving .fbSettingsRemovablesLabel{color:#777;cursor:default;text-decoration:line-through}
.fbSettingsRemovablesUnsync span{color:#3b5998;cursor:pointer;font-weight:normal}
.fbSettingsRemovablesUnsync:hover{text-decoration:underline}
.fbSettingsRemovablesUnsync input{display:none}
html.no_js .fbSettingsRemovablesUnsync input{display:inline}
.fbSettingsSections{border-bottom:1px solid #aaa}
.fbSettingsSections .fbSettingsSectionsItem{padding-top:0}
.fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop{border-top:1px solid #aaa}
.fbSettingsSectionsItem .fbSettingsList{border-top:0;border-bottom:0}
.fbSettingsSectionsItemName{font-size:11px;margin-bottom:10px;margin-top:10px;width:160px}
.fbSettingsSectionsItemContent{width:589px}
.fbSettingsSections .subscriberDropdown,
.fbSettingsSections .subscriberCheckbox,
.fbSettingsSections .publicSearchCheckbox{width:445px}
.SettingsPage #headerArea{padding-bottom:0}
html .fbSettingsNavigation .divider{background:#ccc;border:none;display:list-item;height:1px;margin:10px 0}
.fbSettingsList .openPanel .fbSettingsListLink,
.fbSettingsList .openPanel .fbSettingsListItemDelete{display:none}
.fbSettingsList .openPanel .content{display:block}
.fbSettingsList{border-bottom:1px solid #aaa;border-top:1px solid #aaa}
.fbSettingsCheckboxText{vertical-align:middle}
#SettingsPage_Content .megaphone_box{border-top-width:1px;margin-right:-20px}
.code textarea{font:12px monospace;width:575px}

#bootloader_fSyK_ { height: 42px; }
.bootloader_fSyK_ { display:block !important; }