/*!CK:463816424!*//*1393209826,178138177*/

._1ylo{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-25px -344px;display:block;padding:5px}
._1ylo:hover{background-image:url(/rsrc.php/v2/yx/r/5bhwN6xM1P3.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -328px}
._bv4{min-width:200px;padding:0 3px}
._bv4._4dlr{border:1px solid #e9e9e9}
._bv4 ._bv5{border-bottom:1px solid #e9e9e9;padding:10px 8px}
._bv4
._bv5
._1fhy{margin-bottom:5px}
._bv4
._1fhy
._bv6{padding-right:5px;text-align:right}
._4iy{height:100%;position:relative}
._4ix{top:0}
._4ix, ._xu, ._4i9b, ._xv{position:absolute}
._4ix, ._xv{bottom:0}
._xu, ._xv{text-align:center;width:100%}
._xu{border-bottom:1px solid rgba(0, 0, 0, .3);-webkit-box-sizing:border-box;-webkit-transition:background-color .2s cubic-bezier(0.8, 0, .7, 1)}
._4ix:hover ._xu{-webkit-transition:none}
._8qv ._xu{border-bottom-color:rgba(0, 0, 0, .05)}
._xv{color:rgba(0, 0, 0, .4);overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
._4i9b{border-left:1px solid rgba(0, 0, 0, .08);bottom:0;text-align:center}
._4sjx{position:absolute}
._4sjx ._4sjy{display:block;position:absolute}
._4sjy{top:18px}
._4sjz{background-color:#fff;border:1px solid #ccc;-webkit-border-radius:3px;color:gray;margin:1px;min-width:12px;padding:1px 3px}

#bootloader_pTVHz { height: 42px; }
.bootloader_pTVHz { display:block !important; }