/*!CK:863268775!*//*1393816514,178130527*/

._59g8{min-width:730px}
._57pt.home #globalContainer, ._57pt.home #blueBarHolder #pageHead{width:980px}
._57pt.home #blueBar{min-width:980px}
._57pt.home #globalContainer #content{margin:0 90px}
._57pt.home #leftCol{display:none}
._57pt.home #contentCol{margin-left:0}
._57pt.home #pageFooter{margin-left:-1px}
._57pt.home #contentCurve{height:0}
._57pt .fbFeedTicker, ._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._57pt ._56h3, ._57pt .fbChatSidebar{font:12px/16px Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._5c81._57pt .fbFeedTicker, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{font:11px/14px 'lucida grande',tahoma,verdana,arial,sans-serif}
html ._57pt .fbDockWrapper{right:0}
._57pt #pagelet_rhc_ticker{display:none}
html ._57pt._4g5r #globalContainer, html ._4_f0 #globalContainer, html ._4g5r #blueBar #pageHead, ._4g5r #blueBar #pagesVoiceBarContent{padding-right:0}
._4kdq ._57pt.fbx #globalContainer{padding:0 12px}
._4kdq ._504q.fbx #globalContainer{padding:0}
._4g5r #blueBar #pagesVoiceBarContent{left:0}
html ._57pt._4g5r._4_f0 #blueBarHolder #blueBar, html ._5ap2._57pt._4_f0 #blueBarHolder #blueBar, html ._57pt._4_f0 ._4_37{margin-left:0}
._4_f0 #pagelet_sidebar{display:none}
._57pt._4g5r .fbPageBannerInner, ._57pt._4g5r ._53df, html ._57pt._4g5r #blueBarHolder #blueBar{margin-left:205px}
._5ap2._57pt .fbPageBannerInner, ._5ap2._57pt ._53df, html ._5ap2._57pt #blueBarHolder #blueBar, ._4kdq ._57pt .fbPageBannerInner, ._4kdq ._57pt ._53df, html._4kdq ._57pt #blueBarHolder #blueBar{margin-left:56px}
._57pt._4g5r .fbPageBannerInner{left:0;width:initial}
html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder.slim, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder #blueBar{height:66px}
html body._5bci .fbChatSidebar{background:transparent;border-left:1px solid rgba(0, 0, 0, .1)}
html body._5bci._5c81 .fbChatSidebar{background:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;z-index:300}
.timelineLayout ._5bcj .fbChatSidebarBody{background-color:#e7ebf2}
._4lh ._5bcj .fbChatSidebarBody, ._4__a._6nw ._5bcj .fbChatSidebarBody{background-color:#e9eaed}
._5bcl:before{background:rgba(255, 255, 255, .35);bottom:0;content:'';left:0;position:absolute;top:0;width:1px}
html ._5ap0:after, html body._5bci .fbChatSidebar:after{content:none}
html ._5bci #blueBarHolder #blueBar{padding-right:0;z-index:301}
html ._5c81 #blueBarHolder #blueBar{z-index:300}
html.sidebarMode ._5bci #blueBarHolder #blueBar{margin-right:0;padding-right:205px}
._5bmm{bottom:0;min-height:40px;position:absolute;width:56px}
._5dqg ._5bmm{position:static;width:100%}
._5dqb ._5bmm{display:none}
._5bmh{display:block;height:100%;position:relative}
._5bmh:focus{background:#1f2228;outline:none}
._5bmh:active, ._5bmh:hover{background:transparent}
._5bmi{height:1px;position:absolute;width:56px}
._5dqg ._5bmi{margin-top:-8px}
._5drk{height:10000px;position:relative;top:-12px}
._5bmn{margin-left:17px}
._5dqd{margin:24px 0 0 22px}
._4kdq ._56ci .fbChatSidebar .uiScrollableAreaBody{min-height:0}
._4kdq ._56ci .fbChatSidebarBody{overflow:hidden}
._56ci ._5ap0 ._4_vf, ._4kdq ._56ci .fbChatSidebar ._4_vf{display:block}
._4kdq ._56ci ._56du ._4_vf, ._56ci ._5ap0._5dqb ._4_vf{display:none}
._4kdq ._56ci ._52i7:focus, ._4kdq ._56ci ._52i7:hover{background-color:#1f2228;outline:none}
._56ci.ie10 ._5ap0 a:hover ._4_vf, ._4kdq ._56ci.ie10 a:hover ._4_vf{background-image:url(/rsrc.php/v2/y4/r/-PAXP-deijE.gif)}
.fbEigenpoll .fbEigenpollCheckbox{cursor:pointer;margin:4px 0 0 5px}
.fbEigenpoll .fbEigenpollCheckbox input{cursor:pointer;margin-left:1px}
.fbEigenpoll .fbEigenpollAddOption, .fbEigenpoll .fbEigenpollPager, .fbEigenpoll .fbEigenpollResults{cursor:pointer;width:236px}
.fbTimelineOneColumn .fbEigenpoll .fbEigenpollResults{width:500px}
* .fbEigenpoll .fbEigenpollAddOption{margin-top:6px}
.fbEigenpoll .fbEigenpollRow, .fbEigenpoll .fbEigenpollFeed{width:398px}
.fbTimelineOneColumn .fbEigenpoll .fbEigenpollRow{width:796px}
.fbEigenpollSubstoryAttachment{width:358px}
.uiStreamStory .fbEigenpoll{overflow:hidden}
.fbEigenpoll .fbEigenpollResults, .fbEigenpoll .fbEigenpollPager, .fbEigenpoll .fbEigenpollRow + .fbEigenpollAddOption, .fbEigenpoll .fbEigenpollRow ~ .fbEigenpollAddOption{padding-left:26px}
.fbEigenpoll .fbEigenpollFacepile{width:132px}
.fbTimelineOneColumn .fbEigenpoll .fbEigenpollFacepile{width:256px}
.fbEigenpoll .fbEigenpollSelected div, .fbEigenpoll .fbEigenpollResults:hover div, .fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults div{border-color:#3b5998}
.fbEigenpoll .fbEigenpollResults:active div{border-color:#1d4088}
.fbEigenpoll .fbEigenpollResults:hover .fbQuestionsPollAttachment, .fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults
.fbQuestionsPollAttachment, .fbEigenpoll .fbEigenpollResults:hover .auxlabel, .fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults .auxlabel{visibility:visible}
.fbEigenpoll .fbEigenpollRow{padding:2px 0}
.fbEigenpoll .fbEigenpollPager{padding-top:2px}
.fbEigenpoll .fbEigenpollRow + .fbEigenpollAddOption{cursor:default;margin-top:6px}
.fbEigenpoll .fbEigenpollHighlight{background-color:#edeff4;border-left:2px solid #a8b2ce;margin:0 0 0 -2px}
.fbEigenpoll .fbEigenpollRemoveButton{margin:5px 190px 0 0}
.fbEigenpoll .fbEigenPollDisabledRow .fbEigenpollCheckbox, .fbEigenpoll .fbEigenPollDisabledRow .fbEigenpollCheckbox input, .fbEigenpoll .fbEigenPollDisabledRow .fbEigenpollResults, .fbEigenpoll .fbEigenPollDisabledRow .fbQuestionsPollClickTarget{cursor:default}
.fbQuestionsPollPager{display:block;margin-top:2px;text-align:center;border:1px solid #eceff5;height:18px}
.fbQuestionsPollPager span{padding-top:2px;border:1px dashed #bec8dd;height:16px;display:block;margin:-1px}
.fbQuestionsPollPager:hover{background-color:#ebeff4;color:#3b5998;border-color:#d8dfea;text-decoration:none}
.fbQuestionsPollPager:hover span{border-color:#93a4c7}
.pollResultsBar{width:236px}
.fbQuestionsPollResultsBar{background-color:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5;padding:3px 5px 6px;position:relative;zoom:1}
.fbTimelineOneColumn .fbQuestionsPollResultsBar{width:500px}
.fbQuestionsPollResultsBar .shaded{position:absolute;background-color:#d8dfea;height:100%;top:-1px;left:-1px;border:solid #93a4c7;border-width:1px 0 1px 1px}
.fbQuestionsPollResultsBar .full{border-width:1px}
.fbQuestionsPollResultsBar .label{top:1px;position:relative;line-height:13px;overflow:hidden;color:#3b5998}
.fbQuestionsPollResultsBar .auxlabel{visibility:hidden;position:absolute;right:0;top:0;height:100%;background-color:#fff}
.fbQuestionsPollResultsBar .auxlabel span{position:relative;top:4px}
.fbQuestionsPollResultsBar .auxlabelWithAttachment, .fbQuestionsPollResultsBar .fbQuestionsPollClickTargetWithAttachment{padding-right:25px}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachmentContainer{margin:3px;position:absolute;right:0;top:0;z-index:1}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachment{height:16px;visibility:hidden;width:16px}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachmentIcon{background-image:url(/rsrc.php/v2/y7/r/V8auG3AzVaU.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:16px;width:16px}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachmentIcon:hover{background-color:#6d84b4;-webkit-border-radius:2px}
.fbQuestionsPollResultsBar .fbQuestionsPollClickTarget{position:absolute;top:-1px;left:-1px;right:-1px;cursor:pointer;z-index:1;height:100%}
.fbEigenpoll .fbEigenpollAddOption .fbEigenpollTypeaheadTD{border:1px solid #bdc7d8;width:100%}
.fbEigenpoll .fbEigenpollAddOption .child_was_focused .fbEigenpollTypeaheadTD{border-right-width:0}
.fbEigenpoll .fbEigenpollAddOption .fbEigenpollTypeahead, .fbEigenpoll .fbEigenpollAddOption .fbEigenpollTypeahead .wrap{border-width:0}
.fbEigenpoll .fbEigenpollAddOption .fbEigenpollTypeahead{width:234px}
.fbEigenpoll .fbEigenpollAddOption .child_was_focused .fbEigenpollTypeahead{width:auto}
.fbEigenpoll .fbEigenpollAddOption .fbEigenpollAddButton{display:none}
.fbEigenpoll .fbEigenpollAddOption .child_was_focused .fbEigenpollAddButton{display:inline-block}
.fbEigenpoll .fbEigenpollTypeahead .calltoaction{border-bottom:1px solid #ddd !important;border-top:none;margin:-2px 0 2px !important}
.fbEigenpoll .fbEigenpollTypeahead .calltoaction.selected{border-bottom-color:#3b5998 !important}
.fbEigenpoll .fbEigenpollTypeahead .plus{margin-right:3px;position:absolute;top:0}
.fbEigenpoll .fbEigenpollTypeahead .selected .plus{background:#e2e8f6}
.webComposerQuestion .fbEigenpollTypeahead input, .fbEigenpoll .fbEigenpollAddOption .fbEigenpollTypeahead input{padding-left:16px;width:90%}
._5074 a{color:#141823;font-weight:bold}
._5boy{margin-left:auto;margin-right:auto;width:798px}
._5bo-{background-image:-webkit-gradient(linear, center bottom, center top, from(#DBDBDB), color-stop(0.1, #E9EAED));background-image:-webkit-linear-gradient(bottom, #DBDBDB 0%, #E9EAED 10%)}
._50ff{background:white;border:0 solid rgba(82, 82, 82, .5);-webkit-border-radius:3px;border-width:1px;height:128px;width:128px}
._5456{min-height:217px;text-align:center}
._5457{min-width:760px}
._5457 td{height:200px;text-align:center;vertical-align:top}
._5458{margin:0 auto;min-height:174px;width:256px}
._5bp0{margin:0 auto}
._5bp1{width:500px}
._543w{margin-left:auto;margin-right:auto;text-align:right;width:798px}
._543w a{color:#4e5665;font-weight:normal}
._43q8{background-color:#eceff5;text-align:center;vertical-align:middle}
._43q8 > a, ._43q8 > span{color:#6d84b4;display:block;font-family:Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased;font-weight:bold;text-decoration:none}
._43q9 ._43q8{height:24px;line-height:25px;width:24px}
._43q9 ._43qa, ._43q9 ._43qb{font-size:11px}
._43qc ._43q8{height:32px;line-height:33px;width:32px}
._43qc ._43qa, ._43qc ._43qb{font-size:14px}
._43qc ._43qd{font-size:11px}
._43qc ._43qe{font-size:8px}
._43qf ._43q8{height:50px;line-height:51px;width:50px}
._43qf ._43qa, ._43qf ._43qb{font-size:19px}
._43qf ._43qd{font-size:14px}
._43qf ._43qe{font-size:11px}

#bootloader_sKy9y { height: 42px; }
.bootloader_sKy9y { display:block !important; }