/*!CK:2571760958!*//*1393816567,178174815*/

._5ap0, ._5ap3{background-color:#31353e;height:100%;left:0;outline:0;overflow:hidden;top:0;width:56px;z-index:301}
._5dqb{width:205px}
._5bci ._5ap0, ._5bci ._5ap3{background-color:#232937}
._5ap3{position:fixed}
._5ap0:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAABCAYAAADjAO9DAAAAG0lEQVQIHWNkgAAWIMUOxDxAzA/EwkAsDsRSAAQAAGyA+/CLAAAAAElFTkSuQmCC);background-repeat:repeat-y;background-size:auto;background-position:0 0;bottom:0;content:'';pointer-events:none;position:absolute;right:0;top:0;width:8px;z-index:10}
._52s1{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -10px;height:11px;position:absolute;right:10px;top:11px;width:12px}
._4vcw ._52s1{top:9px}
._5bci ._52s1{top:15px}
._4kdq ._52s1{right:145px}
._52x9, ._5gry{cursor:default;-webkit-user-select:none}
._52x9, ._5bci a._52x9{padding-left:30px;padding-right:30px;width:145px}
._52xa{cursor:pointer;left:0;padding:9px 7px;position:absolute;top:0}
._4vcw ._52xa{padding:7px}
._5bci ._52xa{padding:13px 7px}
._52xb{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;display:block;height:16px;opacity:.8;-webkit-transition:opacity .2s;width:16px}
._52s3 ._52xb{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -10px}
._52xa:hover ._52xb{opacity:1}
._52s9 ._52sa, div._52s9 ._52sa:hover{border-bottom:none;border-top-color:transparent}
._52s9{height:0;margin-bottom:4px;opacity:0;overflow:hidden;-webkit-transition:height .6s cubic-bezier(0.19, 1, .22, 1), opacity .6s, margin-bottom .6s}
ul._57m-{margin-bottom:-4px;-webkit-transition:margin-bottom .6s}
._4vcw ._52s9{margin-bottom:6px}
._4vcw ._57m-{margin-bottom:-6px}
._52s6 ._52s9, ._4-d6 ._52s9{height:26px;margin-bottom:0;opacity:1}
._52s6 ._57m-, ._4-d6 ._57m-{margin:0}
._52s4{color:#8c949f;cursor:pointer;float:right}
._5bci ._52s4{font-size:11px;font-weight:bold;line-height:24px;margin-right:-8px}
._52s4:hover{text-decoration:underline}
._4kdq ._52s4{display:none}
._52s0{cursor:move;cursor:-webkit-grab}
._52s3.droppable_placeholder{background-color:#141618;border-bottom:1px solid #383c45;-webkit-box-shadow:0 3px 3px -3px rgba(0, 0, 0, .2) inset, 0 -3px 3px -3px rgba(0, 0, 0, .2) inset;margin-top:-2px}
._5bci ._52s3.droppable_placeholder{background-color:#171922;border-color:#2c3140}
._52s3.drag{background:#1f2228;border-top:1px solid #24262a;cursor:move;cursor:-webkit-grabbing;margin-top:-1px;z-index:1}
._5bci ._52s3.drag{background:#1d212f;border-color:#232937}
._52s3.drag:before{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;top:-5px}
._52s3.drag:after{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;bottom:-4px}
._52s3.drag:after, ._52s3.drag:before{content:'';height:4px;left:0;position:absolute;width:204px}
._57ix{height:1px;left:0;position:absolute;top:0;width:1px}
._57yp.contentAfter .uiScrollableAreaTrack:hover, ._57yp.contentBefore .uiScrollableAreaTrack:hover, ._57yp.contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._57yp .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
.sp_796fxw{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:4px;width:205px}
.sx_0c0030{width:16px;height:16px;background-position:0 -10px}
.sx_ae5865{width:12px;height:11px;background-position:-34px -10px}
.sx_346e5d{width:16px;height:16px;background-position:-17px -10px}
.sx_ca9447{background-position:0 0}
.sx_7051c3{background-position:0 -5px}

#bootloader_xC0VR { height: 42px; }
.bootloader_xC0VR { display:block !important; }